body{
  padding: 0;
  margin: 0;
  background-color: #0F0505;
  font-family: Verdana, Geneva, sans-serif;
}

div{
  background-color: black;    
  color: #CCBDBD;
}

small{
  font-size: 0.5em;
}

.centrado{
  position: relative;
  margin: 0 auto;
}

.rojo{
  color: #C81B13;
  background-color: inherit;
  border-color: #C81B13;
}

.rojo:hover{
  background-color: #C81B13;
  border-color: #C81B13;
}

#titulo_prin{  
  position: fixed;
  opacity: 0.8;
  width: 100%;
  z-index: 10;
}

#contenedor_prin{
  width: 75%;
  height: 100vh;
  z-index: 1;
}

#div_nombre{
  width: 70%;
  height: 170px;
  top: 20vh;
  border-radius: 30px;
  opacity: 0.9; 
  font-size: 3em;
  cursor: pointer;
}

#div_info{
  width: 60%;
  margin-top: 270px;
  opacity: 0.9;
  border-radius: 15px;
  display: none;
}