.Fondo{
  background-image: url("fondo.png");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-repeat: no-repeat;
  background-color: black;
}

/*----------------------------------------------------*/
.Div_Titulo{
  font-family: sans-serif;
  font-style:oblique;
}

#img_iluminati01{
  vertical-align: middle;
}

#titulo{
  color: red;
}
/*----------------------------------------------------*/

.Div_01{
  width: 450px;
  margin-left: 50px;

  padding-left: 20px;
  border: 2px solid black;
  outline-color: DarkRed;
  outline-style: groove;

  text-decoration-style: solid;
  font-family: monospace;
  font-style: normal;
  color: DarkRed;
  background-color: DarkGray;
}
