.Fondo{
  background-image: url("fondo.png");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-repeat: no-repeat;
  background-color: black;
}

/*----------------------------------------------------*/
#Div_Titulo{
/*background-color: blue;*/

  margin: 0 auto;
  width: 1000px;
  font-family: sans-serif;
  font-style:oblique;
}

#img_iluminati01{
  position: relative;
  float: left;
}

#titulo{
  /*background-color: yellow;*/
  width: 500px;
  margin: 0 auto;

  padding-left: 200px;
}

#img_iluminati02{
  position: relative;
  float: right;

  bottom: 37px;
}
/*----------------------------------------------------*/

#Div_01{
  clear: both;

  width: 310px;

  color:DarkRed;
  background: DarkGrey;

  text-align: center;
  font-family: sans-serif;

  border: 1px solid black;
  outline-style: groove;
  outline-color: red;
}

/*----------------------------------------------------*/

#Div_02{
  color: red;
  background: DarkGrey;
}
