.Fondo{
  margin: 0px;
  padding: 0px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-repeat: no-repeat;
  background-color: #08080a;

  font-family: "Calibri", verdana, sans-serif;
  color: white;
}

.botonEnlace{
  width: 18%;
  height: 35px;

  background: none;


  margin: 5px 15px 5px 15px;

  border: 2px solid #48D8DD;
  border-radius: 10px;
}

.botonEnlace:hover{
  background-color:white;
}

.botonEnlace a{
  color: #48D8DD;
  text-decoration: none;

  font-size: 18px;
}

.tachado{
  color: black;
  background-color: black;
}

.tachado:hover{
  color:white;
}

.clear{
  clear: both;
}

.divCentrado{
  margin: 0 auto;
  position: relative;
}

.div_extraInf{
  width: 225px;
  height: 300px;

  margin: 5px;

  float:left;
  border: 2px solid #000000;
  border-radius: 15px;
}

.div_extraInf p{
  text-align: center;
}
/*----------------------------------------------------*/
#Div_Titulo{
  clear: both;
  margin: 0 auto;
  position: fixed;
  width: 100%;

  background-color: #08080a;
  opacity: 0.4;

  z-index: 100;
}

#titulo_principal{
  clear: both;
  margin: 0 auto;

  text-align: center;
  font-weight: 400;

  color: #f3f2f9;
  opacity: 1;
}

#img_titulo{
  float: left;
  position: relative;

  width: 25px;
  height: 25px;

  top: 8px;
  left: 15px;
}
/*------------------------------------------------------------------*/
#contenedorPag{
  width: 90%;
  height: 1250px;
  margin: 0 auto;

  background-image: url("imagenes/fondo_02.jpg");
  background-attachment: fixed;

  z-index: 50;
}

/*-------------------------------------------*/
#div_presentacion{
  width: 45%;
  height: 525px;

  top: 45px;
}

#img_present{
  width: 420px;
  height: 330px;

  border-radius: 120px;

  position: relative;
  margin-left: 65px;
}

#text_present{
  text-align: center;
}

/*-------------------------------------------*/
#div_infoGeneral{
  width: 72%;
  height: 500px;

  background-color: #120b1c;
  opacity: 0.9;

  border-radius: 15px;

  font-family:
}

#titulo_infoGen{
  margin-left: 20px;
  padding-top: 10px;

  color: #48D8DD;
}

#parraf_infoGen{
  width: 350px;

  float: left;
  margin-left: 30px;
}

#img_infoGen{
  width: 400px;
  height: 400px;

  float: right;
  margin-right: 30px;
  top: 20px;
}
/*-------------------------------------------*/
#div_infoExtra{
  width: 60%;
  height: 150px;

  position: relative;

  float: left;

  margin-top: 20px;
  margin-left: 20px;

  border-radius: 15px;

  opacity: 0.8;
  background-color: #120b1c;
}

#div_tituloExtra{
  width: 100%;
  height: 42px;

  color: #48D8DD;
}

#tituloExtra{
  margin-left: 25px;
}
/*-----------------------------------------------------------------*/
