body{
  margin: 0px;
  padding: 0px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-repeat: no-repeat;
  background-color: #08080a;

  font-family: "Calibri", verdana, sans-serif;
  color: white;
}

.divs_musica{
  position: relative;
  float: left;

  opacity: 0.6;
  border-radius: 20px;
  background-color: #08080a;
}

.tachado{
  color: white;
  background-color: white;
}

.tachado:hover{
  color:black;
}

.clear{
  clear: both;
}

.imagenAlbum{
  position: relative;
  float: left;

  width: 100px;
  height: 100px;

  margin-left: 16px;

  transition:all 0.3s ease;
}

.imagenAlbum:hover{
  width: 120px;
  height: 120px;

  bottom: 10px;
}

#Div_Titulo_Musica{
  width: 100%;
  position: absolute;
  background-color: #08080a;

  opacity: 0.6;
}

#titulo_principal_musica{
  margin: 0 auto;
  text-align: center;
}

#contenedorPag_Musica{
  margin: 0 auto;
  width: 90%;
  height: 660px;

  background-image: url("imagenes/fondos/fondo_musica.jpg");
}

#div_presentacion_musica{
  width: 50%;
  height: 200px;

  margin-top: 80px;
  margin-left: 40px;
}

#titulo_divPresent{
  margin-left: 40px;
}

#parrafo_present{
  margin: 5px 15px 0 15px;
}

/*-------------------------------------*/

#div_albumes{
  margin: 0 auto;
  width: 88%;
  height: 190px;

  margin-left: 55px;
  top: 150px;
}
